Repository cncf/tag-contributor-strategy, pull requests merged in 2023-08, with the labels that each got.

#486 Add labels for accessibility & deaf/hoh work
  .github/settings.yml
Labels: administration

#490 Add the Deaf and Hard of Hearing initiative to the repo
  README.md
  deaf-and-hard-of-hearing/README.md
Labels: accessibility, deaf/hoh

#491 Fix calendar link
  deaf-and-hard-of-hearing/README.md
Labels: administration, deaf/hoh

#492 Update Governance docs
  governance/README.md
  governance/draft-requirements/README.md
Labels: wg/governance, administration

#497 Add "Project Level Review" label
  .github/settings.yml
Labels: wg/governance, needs-toc-approval, administration

#484 Add Roadmaps as a way to encourage contributions file
  website/content/maintainers/community/contributor-growth-framework/open-source-roadmaps.md
Labels: wg/contribgrowth

#494 Update Contributor Growth README
  contributor-growth/README.md
Labels: wg/contribgrowth

#467 Flatcar governance review 2023-08-15
  governance/assessments/projects/flatcar/2023-08-15.md
Labels: wg/governance
