Repository cncf/tag-contributor-strategy, pull requests merged in 2023-10, with the labels that each got.

#527 Best practices for an inclusive and welcoming conference
  deaf-and-hard-of-hearing/event-organizers/conference-best-practices.md
Labels: accessibility, deaf/hoh

#496 Governance review for the Cilium project
  governance/assessments/projects/cilium/2023-08-22.md
Labels: wg/governance

#528 Tips when attending or speaking at a conference that doesn't provide proper accommodations
  deaf-and-hard-of-hearing/deaf-and-hard-of-hearing-individuals/tips-when-attending-or-speaking-at-a-conference.md
Labels: deaf/hoh

#508 Set up new sections on homepage and topnav
  .gitignore
  deaf-and-hard-of-hearing/deaf-and-hard-of-hearing-individuals/tips-when-attending-or-speaking-at-a-conference.md
  deaf-and-hard-of-hearing/event-organizers/conference-best-practices.md
  website/.gitignore
  website/.hugo_build.lock
  website/assets/scss/_header.scss
  website/assets/scss/_home.scss
  website/assets/scss/_nav.scss
  website/config.toml
  website/content/_index.html
  website/content/about/_index.md
  website/content/about/working-groups/deaf-and-hard-of-hearing.md
  website/content/accessibility/_index.md
  website/content/accessibility/deaf-and-hard-of-hearing/_index.md
  website/content/accessibility/deaf-and-hard-of-hearing/conference-best-practices.md
  website/content/accessibility/deaf-and-hard-of-hearing/tips-when-attending-or-speaking-at-a-conference.md
  website/content/maintainers/_index.md
  website/content/resources/_index.md
  website/layouts/partials/navbar.html
  website/static/js/home.js
Labels: needs-liaison-approval, administration
